ADMIN_TELEGRAM_IDS=
CUSTOM_PASSWORD=
DATABASE_URL=
DEFAULT_BOT_PASSWORD=
FACEBOOK_CHECKER_API_KEY=
FACEBOOK_CHECKER_API_URL=
GEMINI_API_KEY=
GOOGLE_SHEET_WEBHOOK_URL=
PLATFORM_NAME=
TELEGRAM_BOT_TOKEN=
WEBHOOK_URL=